/*Schrijf hier jouw CSS*/
.body-container {
    display: flex;
    flex-direction: row;
    /*flex-basis: 100vw;*/
    height: 100vh;
}

.col-1 {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    flex-grow: 1;
    flex-shrink: 0;
}

.main-item {
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
}

.header-item {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

.article-item {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
}

.footer-item {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}